<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/config :: config"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #444444;
      }
    </style>
</head>
<body>
<div id="wrapper">
    <header th:replace="fragments/header :: header"></header>
    <nav id="sidebar"></nav>
    <section id="content">
        <table>
            <thead>
            <tr>
                <td>title</td>
                <td>author</td>
                <td>isreaded</td>
                <td>수정버튼</td>
                <td>삭제버튼</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.readed}"></td>
                <td><a href="#" th:href="@{/book/update/{id} (id=${book.id})}">수정</a></td>
                <td><a href="#" th:href="@{/book/delete/{id} (id=${book.id})}">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>