<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/config :: config"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #444444;
      }
    </style>
</head>
<body>
<div id="wrapper">
    <header th:replace="fragments/header :: header"></header>
    <nav id="sidebar"></nav>
    <section id="content">
        <table>
            <thead>
            <tr>
                <th>책 제목</th>
                <th>작가</th>
                <th>읽었는지</th>
                <th>카테고리</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.readed}"></td>
                <td>
                    <div th:each=" bookCategories : ${book.bookCategories}">
                        <label th:text="${bookCategories.category_name}"></label>
                    </div>
                </td>
                <td><a href="#" th:href="@{/book/update/{id} (id=${book.id})}" style="color: blue">수정</a></td>
                <td><a href="#" th:href="@{/book/delete/{id} (id=${book.id})}" style="color: blue">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>