<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/config :: config"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:object="${book}" th:action="@{/book/update/{id} (id=${book.id})}" method="POST">
        <label>제목</label>
        <input type="text" th:field="*{title}">
        <label>작가</label>
        <input type="text" th:field="*{author}"}>
        <label>읽었는지</label>
        <input type="checkbox" th:field="*{readed}">
        <button type="submit">수정</button>
    </form>
</body>
</html>