<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/config :: config"></div>
    <meta charset="UTF-8">
    <title>카테고리 등록 페이지</title>
</head>
<body>
<div id="wrapper">
    <header th:replace="fragments/header :: header"></header>
    <nav id="sidebar"></nav>
    <section id="content">
        <form th:object="${bookcategories}" th:action="@{/book/category_book/add}" method="POST">
            <h3><label>책</label></h3>
            <select th:field="*{book_id}">
                <option value="">책 선택</option>
                <option th:each="book, itemStat : *{books}"
                        th:value="*{books[__${itemStat.index}__].book_id}"
                        th:text="*{books[__${itemStat.index}__].title}"
                />
            </select>

            <select th:field="*{category_id}">
                <option value="">카테고리 선택</option>
                <option th:each="category, itemStat : *{categories}"
                        th:value="*{categories[__${itemStat.index}__].category_id}"
                        th:text="*{categories[__${itemStat.index}__].name}"
                />
            </select>
            <h3><button type="submit">카테고리 등록</button></h3>
        </form>
    </section>
</div>
</body>
</html>