<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <nav id="menunav">
        <ul id="menunav_ul">
            <li><a th:href="@{/book/add}">책 등록</a></li>
            <li><a th:href="@{/book/list}">책 조회</a></li>
            <li><a th:href="@{/category/add}">카테고리 등록</a></li>
            <li><a th:href="@{/category/list}">카테고리 조회</a></li>
            <li><a th:href="@{/book/api/add}">책 등록-API</a></li>
            <li><a th:href="@{/book/api/list}">책 조회-API</a></li>
        </ul>
    </nav>
</header>
</html>