a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
#wrapper{
    width: 100vw;
    //height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
    ;
}
header{
    grid-area: header;
    background-color: black;
}
#content{
    grid-area: content;   
}
#sidebar{
    grid-area: sidebar;
    background-color: blue;
}
#menunav_ul{
    display: flex;
    flex-direction: row;
    color: white;
}
#menunav_ul > li{
    padding: 8px 12px;
}
td, th{
    border: 1px solid #ddd;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #ddd;
}
table{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
}
th{
    background-color: #4CAF50;
    color: white;
}