a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
#wrapper{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
    ;
}
header{
    grid-area: header;
    background-color: black;
}
#content{
    grid-area: content;   
}
#sidebar{
    grid-area: sidebar;
}
#menunav_ul{
    display: flex;
    flex-direction: row;
    color: white;
}
#menunav_ul > li{
    padding: 8px 12px;
}